In [19]:
import numpy as np
import pandas as pd

In [20]:
df=pd.read_csv('covid_toy.csv')

In [21]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:5],df.iloc[:,-1],test_size=0.2)

In [20]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [13]:
!pip install --upgrade scikit-learn

Requirement already satisfied: scikit-learn in c:\users\acer\anaconda3\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [16]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [23]:
x_train

    age  gender  fever   cough       city
13   64    Male  102.0    Mild  Bangalore
35   82  Female  102.0  Strong  Bangalore
86   25    Male  104.0    Mild  Bangalore
3    31  Female   98.0    Mild    Kolkata
6    14    Male  101.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
68   54  Female  104.0  Strong    Kolkata
8    19  Female  100.0  Strong  Bangalore
0    60    Male  103.0    Mild    Kolkata
92   82  Female  102.0  Strong    Kolkata
90   59  Female   99.0  Strong      Delhi

[80 rows x 5 columns]

In [43]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False,drop='first')
x_train_gc=ohe.fit_transform(x_train[['gender','city']])
x_test_gc=ohe.transform(x_test[['gender','city']])

In [37]:
from sklearn.preprocessing import OrdinalEncoder
ob=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=ob.fit_transform(x_train[['cough']])
x_test_cough=ob.fit_transform(x_test[['cough']])

In [38]:
x_train_agefever=x_train.drop(['gender','cough','city'],axis=1).values
x_test_agefever=x_test.drop(['gender','cough','city'],axis=1).values

In [39]:
print(x_train_agefever.shape)
print(x_train_gc.shape)

(80, 2)
(80, 4)

In [44]:
x_train_transformed=np.concatenate((x_train_agefever,x_train_gc,x_train_cough),axis=1)
x_test_transformed=np.concatenate((x_test_agefever,x_test_gc,x_test_cough),axis=1)

<h1>Column Transformer</h1>

In [3]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.7.0-cp312-cp312-win_amd64.whl.metadata (14 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\acer\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Using cached scikit_learn-1.7.0-cp312-cp312-win_amd64.whl (10.7 MB)
Installing collected packages: scikit-learn
Successfully installed scikit-learn-1.7.0

In [13]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [25]:
transformer=ColumnTransformer(transformers=[('tf1',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),('tf2',OneHotEncoder(drop='first'),['gender','city'])],remainder='passthrough')

In [26]:
transformer.fit_transform(x_train).shape

(80, 7)