In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('Titanic-Dataset.csv')

In [4]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('Survived',axis=1),df['Survived'],test_size=0.2)

In [8]:
import sklearn
print(sklearn.__version__)

1.7.0

In [9]:
from sklearn.impute import SimpleImputer

In [15]:
se=SimpleImputer()
se1=SimpleImputer(strategy='most_frequent')
x_train_age=se.fit_transform(x_train[['Age']])
x_train_embarked=se1.fit_transform(x_train[['Embarked']])

x_test_age=se.fit_transform(x_test[['Age']])
x_test_embarked=se1.fit_transform(x_test[['Embarked']])

In [17]:
from sklearn.preprocessing import OneHotEncoder
ohe_sex=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
ohe_emb=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
x_train_sex=ohe_sex.fit_transform(x_train[['Sex']])
x_train_embarked=ohe_emb.fit_transform(x_train_embarked)

x_test_sex=ohe_sex.transform(x_test[['Sex']])
x_test_embarked=ohe_emb.transform(x_test_embarked)

In [36]:
x_train=x_train.drop(['Name','Cabin','Ticket'],axis=1)
x_test=x_test.drop(['Name','Cabin','Ticket'],axis=1)

In [39]:
x_train_transformed=np.concatenate((x_train,x_train_age,x_train_sex,x_train_embarked),axis=1)
x_test_transformed=np.concatenate((x_test,x_test_age,x_test_sex,x_test_embarked),axis=1)

In [43]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(x_train_transformed,y_train)
y_pred=clf.predict(x_test_transformed)

In [45]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.776536312849162

In [46]:
x_train_transformed.shape

(712, 11)

In [47]:
import pickle

In [50]:
with open('model_pickel','wb') as f:
    pickle.dump(clf,f)
with open('ohe_sex_pickel','wb') as f:
    pickle.dump(ohe_sex,f)
with open('ohe_emb_pickel','wb') as f:
    pickle.dump(ohe_emb,f)